<div>
    <h1>Tvoje objednávka:</h1>
    <h2>Objednávka č. <input type="text" name="orderNumber"><br>
    k Rámcové smlouvě o poskytování plnění č.23b <input type="text" name="contractNumber"><br>
    (Rámcová smlouva dále jako „Smlouva“)</h2>
    
  <p>
    Obchodní firma:		storyous.com s.r.o.<br>
    IČO:		24250856<br>
    Sídlo:		Myslíkova 171/31, 110 00 Praha 1<br>
    Spisová značka:		C 197459 vedená u Městského soudu v Praze<br>
    Zastoupená:		Dušan Zábrodský, jednatel<br>
  </p>
<p>
dále jako „Klient“ <br> a
</p>

<p>
Jméno: <input type="text" name="name"><br>
IČO: <input type="text" name="bussinessId"><br>
Sídlo: <input type="text" name="address"><br>
Bankovní spojení: <input type="text" name="bankAccount"><br>
Email:<input type="text" name="email"><br>
Telefon: <input type="text" name="phone"><br>
</p>

<p>dále jako "Poskytovatel"</p>
<p>

1. Klient si tímto ve smyslu čl. 3 Smlouvy závazně od Dodavatele objednává tyto služby:<br>
    • vývoj produktu Storyous, s tím, že tyto služby budou poskytovány od <input type="text" name="od">
do <input type="text" name="do">

    2. Cena služeb uvedených v odst. 1. této objednávky činí: <input type="text" name="lname">,- Kč.

</p>

V Praze dne <input type="text" name="">				V Praze dne 1. 11. 2017 <input type="text" name=""><br>




.................................................				.................................................
                                      Klient                    							Poskytovatel

      Jméno a Přijmení <input type="text" name="fname"><br>
      : <input type="text" name="lname"><br>

</div>

